<a href="https://colab.research.google.com/github/AfnanAbouElwafa/Rock-vs-Mine-prediction/blob/main/Rock_vs_Mine_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing the dependencies**

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC 
from sklearn.metrics import accuracy_score

**Data collection and data processing**

In [ ]:
#loading data
data = pd.read_csv('/content/Copy of sonar data.csv', header = None)

#number of rows and columns
data.shape

(208, 61)

In [ ]:
#statistical measurments 
data.describe()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
count,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,...,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000
mean,0.029164,0.038437,0.043832,0.053892,0.075202,0.104570,0.121747,0.134799,0.178003,0.208259,...,0.016069,0.013420,0.010709,0.010941,0.009290,0.008222,0.007820,0.007949,0.007941,0.006507
std,0.022991,0.032960,0.038428,0.046528,0.055552,0.059105,0.061788,0.085152,0.118387,0.134416,...,0.012008,0.009634,0.007060,0.007301,0.007088,0.005736,0.005785,0.006470,0.006181,0.005031
min,0.001500,0.000600,0.001500,0.005800,0.006700,0.010200,0.003300,0.005500,0.007500,0.011300,...,0.000000,0.000800,0.000500,0.001000,0.000600,0.000400,0.000300,0.000300,0.000100,0.000600
25%,0.013350,0.016450,0.018950,0.024375,0.038050,0.067025,0.080900,0.080425,0.097025,0.111275,...,0.008425,0.007275,0.005075,0.005375,0.004150,0.004400,0.003700,0.003600,0.003675,0.003100
50%,0.022800,0.030800,0.034300,0.044050,0.062500,0.092150,0.106950,0.112100,0.152250,0.182400,...,0.013900,0.011400,0.009550,0.009300,0.007500,0.006850,0.005950,0.005800,0.006400,0.005300
75%,0.035550,0.047950,0.057950,0.064500,0.100275,0.134125,0.154000,0.169600,0.233425,0.268700,...,0.020825,0.016725,0.014900,0.014500,0.012100,0.010575,0.010425,0.010350,0.010325,0.008525
max,0.137100,0.233900,0.305900,0.426400,0.401000,0.382300,0.372900,0.459000,0.682800,0.710600,...,0.100400,0.070900,0.039000,0.035200,0.044700,0.039400,0.035500,0.044000,0.036400,0.043900

In [ ]:
data[60].value_counts()

M    111
R     97
Name: 60, dtype: int64

M --> Mine 
R --> Rock

**Separating data and labels**

In [ ]:
X = data.drop(columns=60, axis=1) # axis 1 means it is a coulms
y = data[60]

**Spliting data to training and testing data**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, stratify=y, random_state=1)
#stratify=y bc we want to split data so it will contain nearly the same num of rock and mine
#random_state used to reproduce the splitted as it

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(208, 60) (187, 60) (21, 60)

**Model training**

Logistic Regression

In [ ]:
model1 = LogisticRegression()
model1.fit(X_train, y_train)

LogisticRegression()

Kernelized Support Vector Machines

In [ ]:
#rbf:  radial basis function (RBF) kernel or Gaussian kernel 
#C: regularization parameter
model2 = SVC(kernel='rbf', C=100)
model2.fit(X_train, y_train)

SVC(C=100)

**Model evaluation**

Logistic Regression

In [ ]:
#accuracy on the training data 
y_train_prediction_1 = model1.predict(X_train)
training_accuracy_1 = accuracy_score(y_train_prediction_1, y_train)
#accuracy on the testing data
y_test_prediction_1 = model1.predict(X_test)
testing_accuracy_1 = accuracy_score(y_test_prediction_1, y_test)

print("Training accuracy using Logistic Regression: {}".format(training_accuracy_1))
print("Testing accuracy using Logistic Regression: {}".format(testing_accuracy_1))

Training accuracy using Logistic Regression: 0.8342245989304813
Testing accuracy using Logistic Regression: 0.7619047619047619

Kernelized Support Vector Machines

In [ ]:
#accuracy on the training data 
y_train_prediction_2 = model2.predict(X_train)
training_accuracy_2 = accuracy_score(y_train_prediction_2, y_train)
#accuracy on the testing data
y_test_prediction_2 = model2.predict(X_test)
testing_accuracy_2 = accuracy_score(y_test_prediction_2, y_test)

print("Training accuracy using SVMs: {}".format(training_accuracy_2))
print("Testing accuracy using SVMs: {}".format(testing_accuracy_2))

Training accuracy using SVMs: 1.0
Testing accuracy using SVMs: 0.9047619047619048

**Making a predictive system**

In [ ]:
input_data = (0.0454,0.0472,0.0697,0.1021,0.1397,0.1493,0.1487,0.0771,0.1171,0.1675,0.2799,0.3323,0.4012,0.4296,0.5350,0.5411,0.6870,0.8045,0.9194,0.9169,1.0000,0.9972,0.9093,0.7918,0.6705,0.5324,0.3572,0.2484,0.3161,0.3775,0.3138,0.1713,0.2937,0.5234,0.5926,0.5437,0.4516,0.3379,0.3215,0.2178,0.1674,0.2634,0.2980,0.2037,0.1155,0.0919,0.0882,0.0228,0.0380,0.0142,0.0137,0.0120,0.0042,0.0238,0.0129,0.0084,0.0218,0.0321,0.0154,0.0053)
#changing input data to a numpy array
input_data_np = np.asarray(input_data)
#reshape np array
input_data_reshaped = input_data_np.reshape(1,-1)
prediction1= model1.predict(input_data_reshaped)
prediction2= model2.predict(input_data_reshaped)

if(prediction1[0] == 'R'):
  print("Using Logistic Regression, The object is a Rock")
else:
  print("Using Logistic Regression, The object is a Mine")

if(prediction2[0] == 'R'):
  print("Using SVMs, The object is a Rock")
else:
  print("Using SVMs, The object is a Mine")

Using Logistic Regression, The object is a Mine
Using SVMs, The object is a Mine